# Ignore Python bytecode and cache directories
__pycache__/
*.py[cod]
*$py.class

# Ignore Cython debug output
cython_debug/
code/line_follow/cam_line_following/1_minRect_angle/main.py
code/line_follow/cam_line_following/1_minRect_angle/main.py