# Ignore Python bytecode and cache directories
__pycache__/
*.py[cod]
*$py.class

# Ignore Cython debug output
cython_debug/

# Ignore .vscode directory
.vscode/

# Ignore .mp4 files
*.mp4

# Ignore all images from capture_script
5_ai_training_data/0_images/images/

# Ignore all files in temp_frames
temp_frames/

1_international/timestamps.txt